<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Loops</title>
    <!-- VueJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <h1>{{name + " " + title}}</h1>
        <ul>
            <li v-for="(project, index) in projects">
                {{project.title}}
            </li>

            <!-- v-for="(element, key, index) in object" -->
        </ul>
    </div>

    <script src="./main.js"></script>

</body>

</html>