<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs v-on</title>
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- VueJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            color: #333;
            padding: 1rem;
        }

        ul {
            list-style: none;
            display: flex;
        }

        ul>li {
            margin: 1rem;
            padding: 1rem;
            border: 1px solid #ededed;
            border-radius: 10px;
            width: 200px;

        }

        li i {
            color: rgb(0, 48, 80);
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>{{name + " " + title}}</h1>
        <ul>
            <li v-for="project in projects">
                {{project.title.toUpperCase()}}

                <div>

                    <i class="fas fa-heart" @click.left="addLike(project)"
                        @click.right.prevent="removeLike(project)"></i>
                    Likes: {{ project.likes }}
                </div>
            </li>

            <!-- 

                v-on:eventName="methodName(param1,param2)"
                @eventName="methodName"

                // acces the original event
                $event


             -->
        </ul>
    </div>

    <script src="./main.js"></script>

</body>

</html>