#app {
    height: 100vh;
}
#app::after{
    content: "";
    display: table;
    clear: both;
}
header, footer{ 
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    float: left; 
    height: 20%;
    margin: 10px 0;
}

aside {
    width: 30%;
}
main {
    margin-left: 10px;
    width: calc(70% - 10px);
}
main, aside {
    float: left;
    background-color: lightsteelblue;
    height: calc(100% - 40% - 40px);
}