<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Conditionals</title>
    <!-- VueJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>

<body>
    <div id="app">

        <!-- <h1 v-if="showTitle">{{ movieTitle }} </h1> -->
        <!-- <h1 v-if="age >= 18">{{ movieTitle }} </h1> -->
        <h1 v-if="age > 21">{{ movieTitle }} </h1>
        <h1 v-else-if="age > 18 && age < 21">{{ movieTitle }} | Watch with an adult </h1>
        <h1 v-else> {{movieTitle}} | Sorry you are too young to see this movie </h1>
    </div>

    <script src="./main.js"></script>

</body>

</html>